@font-face {
	font-family: Roboto;
	font-weight: 400;
	src: url("/ttf/Roboto.400.ttf") format("truetype");
}
@font-face {
	font-family: Roboto;
	font-weight: 500;
	src: url("/ttf/Roboto.500.ttf") format("truetype");
}

html { height: 100%; }
body {
	margin: 0;
	min-height: 100%;
}

body[isScrollEnabled="false"] { overflow-y: hidden; }
a { text-decoration: none; }
a, button, input, select, textarea { outline: none; }

md\:app { min-height: 100vh; }
md\:app * { user-select: none; }
md\:app[languageCategory="english-like"], md\:app[languageCategory="english-like"] md\:textfield > select, md\:app[languageCategory="english-like"] md\:textfield > textarea { font-family: Roboto; }
md\:app[primaryColor="indigo"] { background-color: #E8EAF6; }
md\:app[primaryColor="indigo"] > md\:appbar { background-color: #303F9F; }
md\:app[primaryColor="indigo"] md\:abbutton:hover { background-color: rgba(255, 255, 255, 0.08); }
md\:app[primaryColor="indigo"] md\:abbutton:active { background-color: rgba(255, 255, 255, 0.24); }
md\:app[primaryColor="indigo"] md\:abbutton svg path { fill: #FFFFFF; }
md\:app[primaryColor="indigo"] md\:abtitle { color: #FFFFFF; }
md\:app[secondaryColor="indigo"] md\:button:hover, md\:app[secondaryColor="indigo"] md\:cabutton:hover, md\:app[secondaryColor="indigo"] md\:dbutton:hover, md\:app[secondaryColor="indigo"] md\:dbutton:hover 
	{ background-color: rgba(61, 90, 254, 0.08); }
md\:app[secondaryColor="indigo"] md\:button:active, md\:app[secondaryColor="indigo"] md\:cabutton:active, md\:app[secondaryColor="indigo"] md\:dbutton:active { background-color: rgba(61, 90, 254, 0.24); }
md\:app[secondaryColor="indigo"] a, md\:app[secondaryColor="indigo"] md\:button, md\:app[secondaryColor="indigo"] md\:dbutton, md\:app[secondaryColor="indigo"] md\:textfield input:focus + label,
	md\:app[secondaryColor="indigo"] md\:textfield select:focus + label, md\:app[secondaryColor="indigo"] md\:textfield textarea:focus + label { color: #3D5AFE; }
md\:app[secondaryColor="indigo"] md\:dcontentarea > input[type="radio"]:checked + label:before { border-color: #3D5AFE; }
md\:app[secondaryColor="indigo"] md\:dcontentarea > input[type="radio"]:checked + label:after, md\:app[secondaryColor="indigo"] md\:floatingactionbutton { background-color: #3D5AFE; }
md\:app[secondaryColor="indigo"] md\:floatingactionbutton { fill: #FFFFFF; }
md\:app[secondaryColor="indigo"] md\:floatingactionbutton:hover:after { background-color: rgba(255, 255, 255, 0.08); }
md\:app[secondaryColor="indigo"] md\:floatingactionbutton:active:after { background-color: rgba(255, 255, 255, 0.24); }
md\:app[secondaryColor="indigo"] md\:nditem[isActivated="true"] > md\:ndiicon svg path { fill: #536DFE; }
md\:app[secondaryColor="indigo"] md\:nditem[isActivated="true"] > md\:nditext { color: #536DFE; }
md\:app[secondaryColor="indigo"] md\:nditem[isActivated="true"]:before { background-color: #8C9EFF; }
md\:app[theme="light"] md\:card, md\:dialog, md\:app[theme="light"] md\:navigationdrawer { background-color: #FFFFFF; }
md\:app[theme="light"] md\:litem:hover, md\:app[theme="light"] md\:nditem:hover:before { background-color: rgba(0, 0, 0, 0.04); }
md\:app[theme="light"] md\:litem:active, md\:app[theme="light"] md\:nditem:active:before { background-color: rgba(0, 0, 0, 0.08); }
md\:app[theme="light"] md\:caption, md\:app[theme="light"] md\:litsecondary, md\:app[theme="light"] md\:ndlabel { color: rgba(0, 0, 0, 0.6); }
md\:app[theme="light"] md\:libutton { fill: rgba(0, 0, 0, 0.6); }
md\:app[theme="light"] md\:textfield[isActive="false"], md\:app[theme="light"] md\:textfield[isActive="false"] > * { color: rgba(0, 0, 0, 0.38) !important; }
md\:appbar {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
	z-index: 4;
}
md\:appbar > * { float: left; }
body:not([isScrollEnabled="false"]) md\:appbar {
	position: sticky;
	top: 0;
}
md\:abbutton {
	height: 56px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
}
md\:abbutton svg {
	height: 24px;
	max-width: 24px;
}
md\:abtitle {
	margin-left: 16px;
	margin-right: 16px;
	position: relative;
	width: calc(100% - 96px);
}
md\:abtitle > md\:h6 {
	bottom: 16px;
	position: absolute;
	width: 100%;
}
md\:appbar, md\:abtitle { min-height: 56px; }
md\:card {
	box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.33);
	margin-bottom: 16px;
	margin-left: 4px;
	margin-right: 4px;
	z-index: 8;
}
md\:ccontentarea {
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
}
md\:cactionarea > * { float: left; }
md\:content { box-sizing: border-box; }
md\:app, md\:cactionarea, md\:content { overflow-y: auto; }
md\:dialog {
	box-shadow: 0px 24px 4px 0px rgba(0, 0, 0, 0.33);
	transition-duration: 100ms;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
md\:app > md\:scrim > md\:dialog { z-index: 24; }
md\:dialog[isFullScreen="false"] {
	left: 50%;
	max-height: 80%;
	top: 50%;
	transform: translate(-50%, -50%);
}
md\:dialog[isOpened="false"] { opacity: 0; }
md\:dialog[type="confirmation"] { min-width: 280px; }
md\:dheader:not([hasShortMargins]) { min-height: 64px; }
md\:dheader[hasShortMargins="true"] { padding-bottom: 0px; }
md\:dialog, md\:dcontentarea { overflow-y: auto; }
md\:dcontentarea {
	padding-left: 24px;
	padding-right: 24px;
}
md\:dcontentarea[hasShortMargins="true"] {
	padding-bottom: 8px;
	padding-top: 8px;
}
md\:dheader, md\:dcontentarea:not([hasShortMargins]), md\:dcontentarea[hasShortMargins="false"] {
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
}
md\:dcontentarea > input[type="radio"] { display: none; }
md\:dcontentarea > input[type="radio"]:checked + label:after { transform: scale(1); }
md\:dcontentarea > label {
	cursor: pointer;
	display: block;
	height: 20px;
	line-height: 20px;
	padding-left: 28px;
	position: relative;
}
md\:dcontentarea > label:not(:last-of-type) { margin-bottom: 8px; }
md\:dcontentarea > label:before {
	border: 2px solid rgba(0, 0, 0, 0.54);
	height: 20px;
	left: 0;
	top: 0;
	width: 20px;
}
md\:dcontentarea > label:after {
	height: 10px;
	left: 5px;
	top: 5px;
	transform: scale(0);
	width: 10px;
}
md\:dcontentarea > label:before, md\:dcontentarea > label:after {
	border-radius: 50%;
	content: "";
	position: absolute;
}
md\:dactionarea[alignment="horizontal"] { height: 52px; }
md\:cactionarea, md\:dactionarea[alignment="horizontal"] {
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
}
md\:button, md\:cabutton, md\:dbutton {
	height: 36px;
	line-height: 36px;
	text-transform: uppercase;
}
md\:dactionarea[alignment="horizontal"] md\:dbutton { float: right; }
md\:button > a, md\:cabutton > a, md\:dbutton > a, md\:dbutton > button {
	background-color: transparent;
	border: none;
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	height: 100%;
	min-width: 64px;
	padding-left: 8px;
	padding-right: 8px;
	text-transform: inherit;
	width: 100%;
}
md\:floatingactionbutton[type="regular"] {
	bottom: 16px;
	box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.33);
	box-sizing: border-box;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	position: fixed;
	right: 16px;
	z-index: 6;
}
md\:floatingactionbutton[type="regular"]:after {
	content: "";
	display: block;
	left: 0;
	position: absolute;
	top: 0;
}
md\:floatingactionbutton[type="regular"], md\:floatingactionbutton[type="regular"]:after {
	border-radius: 28px;
	height: 56px;
	width: 56px;
}
md\:floatingactionbutton > md\:icon > svg {
	height: 24px;
	width: 24px;
}
md\:h5 { font-size: 1.5rem; }
md\:dheader, md\:h6 {
	font-size: 1.25rem;
	letter-spacing: 0.15px;
}
md\:image > img { width: 100%; }
md\:image > svg {
	height: 100%;
	width: 100%;
}
md\:litem {
	box-sizing: border-box;
	padding-bottom: 16px;
	position: relative;
	padding-top: 16px;
}
md\:litem[type="one-line"]:not([hasAnImage]) { height: 48px; }
md\:litem[type="two-line"]:not([hasAnImage]) { height: 64px; }
md\:litem[type="two-line"][hasAnImage="true"] { height: 72px; }
md\:litem[type="two-line"][hasAButton="true"] > *, md\:litem[type="two-line"][hasAnImage="true"] > * {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
}
md\:litem[type="two-line"][hasAnImage="true"] > *:first-child { left: 16px; }
md\:litem[type="two-line"][hasAButton="true"] > *:last-child, md\:litem[type="two-line"][hasAnImage="true"] > *:last-child { right: 16px; }
md\:litem[type="two-line"][hasAnImage="true"] > md\:liimage { margin-right: 16px; }
md\:litem[type="two-line"][hasAnImage="true"][hasAWideImage="false"] > md\:liimage > img { width: 40px; }
md\:litem[type="one-line"]:not([hasAnImage]) > md\:litext, md\:litem[type="two-line"]:not([hasAnImage]) > md\:litext {
	padding-left: 16px;
	padding-right: 16px;
}
md\:litem[type="two-line"][hasAnImage="true"][hasAWideImage="false"] > md\:litext { left: 72px; }
md\:litem[type="two-line"][hasAButton="true"] > md\:libutton, md\:litem[type="two-line"][hasAButton="true"] > md\:libutton > svg {
	height: 24px;
	width: 24px;
}
md\:litem[type="two-line"][hasAnImage="true"][hasAButton="true"] > *:nth-child(2) { right: 56px; }
md\:navigationdrawer[alignment="left"] {
	bottom: 0;
	max-width: 320px;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
	transition-property: left;
	width: calc(100% - 56px);
	z-index: 16;
}
md\:navigationdrawer[alignment="left"][isOpened="false"] {
	left: -320px;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
md\:navigationdrawer[alignment="left"][isOpened="true"] {
	box-shadow: 24px 0px 4px 0px rgba(0, 0, 0, 0.33);
	left: 0;
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
}
md\:ndheader {
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
}
md\:nditem {
	height: 48px;
	position: relative;
}
md\:nditem:hover:before, md\:nditem:active:before, md\:nditem[isActivated="true"]:before {
	border-radius: 4px;
	bottom: 2px;
	content: "";
	left: 8px;
	position: absolute;
	right: 8px;
	top: 2px;
	z-index: -1;
}
md\:abbutton, md\:button, md\:cabutton, md\:dbutton, md\:floatingactionbutton:after, md\:litem, md\:nditem:hover:before, md\:nditem:active:before, md\:nditem[isActivated="true"]:before {
	transition-duration: 100ms;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
md\:nditem[isActivated="true"] { pointer-events: none; }
md\:nditem > * { float: left; }
md\:ndiicon {
	margin-bottom: 12px;
	margin-top: 12px;
}
md\:ndiicon, md\:ndiicon > svg {
	height: 24px;
	width: 24px;
}
md\:nditext {
	font-weight: 500;
	height: 48px;
	line-height: 50px;
	overflow-y: hidden;
	width: calc(100% - 56px);
}
md\:ndlabel {
	font-weight: 500;
	height: 42px;
	line-height: 42px;
}
md\:ndhsubtext, md\:ndlabel { font-size: 0.8125rem; }
md\:nditem, md\:nditext, md\:ndlabel {
	padding-left: 16px;
	padding-right: 16px;
}
md\:scrim[isOpened="true"] {
	background-color: rgba(0, 0, 0, 0.33);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}
md\:dialog[isFullScreen="false"], md\:scrim[isOpened="true"] { position: fixed; }
md\:abbutton, md\:button, md\:cabutton, md\:dbutton, md\:floatingactionbutton, md\:nditem { cursor: pointer; }
md\:snackbar {
	background-color: rgba(0, 0, 0, 0.87);
	color: #FFFFFF;
	height: 48px;
	line-height: 48px;
	padding-left: 16px;
	padding-right: 16px;
	position: fixed;
	transition-duration: 100ms;
	transition-property: bottom;
}
md\:snackbar[isOpened="false"] { transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1); }
md\:snackbar[isOpened="true"] { bottom: 16px; }
md\:abtitle > md\:h6, md\:dcontentarea > label, md\:litext > *, md\:nditext, md\:snackbar {
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
md\:button, md\:cabutton, md\:dactionarea[alignment="horizontal"] md\:dbutton, md\:nditext, md\:snackbar, md\:subtitle2 { font-size: 0.875rem; }
md\:button, md\:cabutton, md\:dheader, md\:dactionarea[alignment="horizontal"] md\:dbutton, md\:h6, md\:litprimary, md\:subtitle2 { font-weight: 500; }
md\:textfield { position: relative; }
md\:textfield:not(:hover) { border-bottom-width: 1px; }
md\:textfield:hover { border-bottom-width: 2px; }
md\:textfield > * {
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;
}
md\:textfield > *:not(md\:helpertext) { position: absolute; }
md\:textfield > textarea {
	min-height: 64px;
	resize: none;
}
md\:textfield > input[type="email"], md\:textfield > input[type="password"], md\:textfield > input[type="tel"], md\:textfield > input[type="text"], md\:textfield > input[type="url"], md\:textfield > select,
	md\:textfield > textarea {
	background-color: transparent;
	border: none;
	padding-bottom: 10px;
}
md\:textfield, md\:textfield > label {
	transition-duration: 100ms;
	transition-property: color, font-size, top;
	transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}
md\:abbutton, md\:dcontentarea > label:before, md\:dheader, md\:dactionarea[alignment="horizontal"], md\:dactionarea[alignment="horizontal"], md\:textfield > * { box-sizing: border-box; }
md\:caption, md\:litsecondary, md\:textfield > label, md\:helpertext { font-size: 0.75rem; }
md\:textfield[isActive="false"] { pointer-events: none; }
md\:textfield[type="filled"] { min-height: 52px; }
md\:textfield[type="filled"] > input, md\:textfield[type="filled"] > select {
	height: 52px;
	padding-top: 23px;
}
md\:textfield[type="filled"] > textarea {
	height: 76px;
	margin-top: 27px;
}
md\:textfield[type="filled"] > input, md\:textfield[type="filled"] > select, md\:textfield[type="filled"] > textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #DCDCDC;
	top: 0;
}
md\:textfield[type="filled"] input:focus + label, md\:textfield[type="filled"] input[value] + label, md\:textfield[type="filled"] textarea:focus + label, md\:textfield[type="filled"] textarea[value] + label,
	md\:textfield[type="filled"] select + label { top: 10px; }
md\:textfield[type="filled"] input:not(:focus):not([value]) + label { top: 23px; }
md\:textfield[type="filled"] textarea:not(:focus):not([value]) + label { top: 31px; }
md\:textfield > input[type="email"], md\:textfield > input[type="password"], md\:textfield > input[type="tel"], md\:textfield > input[type="text"], md\:textfield > input[type="url"],
	md\:textfield[type="filled"] input:not(:focus):not([value]) + label, md\:textfield > textarea, md\:textfield[type="filled"] textarea:not(:focus):not([value]) + label,
	md\:textfield[type="filled"] select { font-size: 1rem; }
md\:textfield[type="filled"][hasErrors="true"] > input, md\:textfield[type="filled"][hasErrors="true"] > textarea { border-bottom: 1px solid #B00020; }
md\:textfield[type="filled"][hasErrors="true"] > input ~ md\:helpertext, md\:textfield[type="filled"][hasErrors="true"] > select ~ md\:helpertext { padding-top: 56px; }
md\:textfield[type="filled"][hasErrors="true"] > textarea ~ md\:helpertext { padding-top: 106px; }
md\:textfield[type="filled"][hasErrors="true"] > label, md\:textfield[type="filled"][hasErrors="true"] md\:helpertext, md\:helpertext[hasErrors="true"] { color: #B00020 !important; }
md\:app, md\:appbar, md\:appbar > *, md\:abbuton svg, md\:button, md\:button > *, md\:card, md\:card > *, md\:ccontentarea > *, md\:cactionarea > *, md\:content, md\:dialog, md\:dialog *, md\:floatinbuttonaction,
	md\:floatinbuttonaction *, md\:h5, md\:h6, md\:image, md\:list, md\:list *, md\:navigationdrawer, md\:navigationdrawer > *, md\:ndhsubtext, md\:nditems, md\:nditems > *, md\:nditem > *, md\:ndiicon > *,
	md\:paper, md\:scrim, md\:subtitle1, md\:subtitle2, md\:textfield, md\:textfield > * { display: block; }

@media (max-width: 768px) {
	md\:snackbar {
		left: 0;
		right: 0;
	}
	md\:snackbar[isOpened="false"] { bottom: -48px; }
	md\:snackbar[isOpened="true"] { bottom: 0; }
}
@media (min-width: 769px) {
	md\:snackbar {
		border-radius: 4px;
		left: 16px;
		max-width: calc(100% - 32px);
	}
	md\:snackbar[isOpened="false"] { bottom: -64px; }
	md\:snackbar[isOpened="true"] { bottom: 16px; }
}