<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HatunSearch.Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<add name="SQLServer" connectionString="[TBF]" />
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp from="noreply@hatunsearch.me">
				<network host="smtp.zoho.com" port="587" userName="noreply@hatunsearch.me" password="$13fdb311d027b3e9$" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>